!!!
html
	body
		table(style="border: 1px dashed blue; background-color: #FAFAFA; color: green; border-spacing: 15px;")
			tr
				th(style="color:brown;") Name
				td= name
			tr
				th(style="color:brown;") Email
				td= email
			tr
				th(style="color:brown;") Location
				td !{location.city}, !{location.region_name}, !{location.country_name}